:root {
    --primary-color: #4f6d7a;
    --secondary-color: #c0d6df;
    --accent-color: #e8dab2;
    --accent2-clr: #dd6e42;

    --ff-light: 300;
    --ff-medium: 500;
    --ff-bold: 700;

    --ff-primary-clr: #1f1f1f;
    /* --ff-secondary-clr:var(--accent-color);
    --ff-accent-clr:var(--accent-color); */

    --fs-sm: 0.8rem;
    --fs-med: 1.25rem;
    --fs-lg: 2rem;

    --bg-color: #eaeaea;

}

* {
    font-family: 'De Vietnam Pro', sans-serif;
}

body {
    width: 70vh;
    height: 100vh;
    margin: auto;
}

section {
    margin-top: 25px;
}

a,
a:visited {
    text-decoration: none;
    color: var(--ff-primary-clr);
}

button:hover {
    cursor: pointer;
}

/* classes */

.center {
    position: flex;
    top: 50%;
    left: 50%;
}

/* login button */

.login-btn {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: none;
    font-size: var(--fs-med);
    background-color: var(--accent2-clr);
    box-shadow: 0 0 10px gray;
    font-weight: var(--ff-light);
}

.login-btn:hover {
    opacity: 0.9;
    transition: 0.5ms;
}

.login-btn:active {
    transform: scale(0.98);
}

/* add to cart button */

.add-to-cart-btn {
    width: 95px; 
    height: 32px;
    font-size: 0.9rem;
    color: #301504;
    background-color: #f1d490;
    border-color: #aa9a65;
    border-radius: 4px;
    border-width: 1px;
}


/* media queries */

@media screen and (max-width: 430px) {
    body {
        height: 90vh;
        margin-left: 15%;
    }

    body,
    button {
        display: block;
        margin-top: 10px;
    }
}