:root {
    --primary-color: #4f6d7a;
    --secondary-color: #c0d6df;
    --accent-color: #e8dab2;

    --ff-light: 300;
    --ff-medium: 500;
    --ff-bold: 700;

    --ff-primary-clr: #1f1f1f;
    /* --ff-secondary-clr:var(--accent-color);
    --ff-accent-clr:var(--accent-color); */

    --fs-sm: 0.8rem;
    --fs-med: 1.25rem;
    --fs-lg: 2rem;

    --bg-color: #eaeaea;

}

* {
    font-family: 'De Vietnam Pro', sans-serif;
}

body {
    width: 70vh;
    height: 100vh;
    margin: auto;
}

.center {
    position: flex;
    top: 50%;
    left: 50%;
}

a,
a:visited {
    text-decoration: none;
    color: var(--ff-primary-clr);
}

/* @media screen and (min-width: 421px) {
    div {
        margin-left: 10%;
        margin-top: 25%;
    }
} */

@media screen and (max-width: 430px) {
    body {
        height: 90vh;
        margin-left: 15%;
    }

    body,
    button {
        display: block;
        margin-top: 10px;
    }
}