img {
    height: 500px;
    margin-top: 10px;
}


@media screen and (min-width: 421px) {
    img {
        margin-left: 25%;
    }
    
    button {
        margin-left: 38%;
    }
}

@media screen and (max-width: 420px) {

    img {
        height: 300px;
    }
}